:root {
    --bg-body: #008080;
    --bg-window: #c3c3c3;
    --bg-title: #000082;
    --title-color: #ffffff;
    --text-color: #000000;
    --border-color-top: #ffffff;
    --border-color-bottom: #818181;
    --bg-scrollbar-track: #d6d6d6;

    --width-main: 65vw;
    --width-image-viewer: 75vw;
    --height-image-viewer: 80vh;
    --titlebar-height: 2em;
    --window-margin-top: 25px;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--bg-scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--bg-window);

    border: 2px solid var(--border-color-top);
    border-right: 2px solid var(--border-color-bottom);
    border-bottom: 2px solid var(--border-color-bottom);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
    background: var(--border-color-bottom);
    border: 2px solid var(--border-color-bottom);
    border-right: 2px solid var(--border-color-top);
    border-bottom: 2px solid var(--border-color-top);
}

body {
    margin: 0;
    background-color:  var(--bg-body);
    font-family:Arial, Helvetica, sans-serif;
}

main {
    width: var(--width-main);
    margin: auto;
    padding:0;
    margin-top: var(--window-margin-top);
    height: calc(100vh - var(--window-margin-top) - var(--titlebar-height));
    overflow: none;
    background-color: var(--bg-window);
    border: 3px solid var(--border-color-top);
    border-right: 3px solid var(--border-color-bottom);
    border-bottom: 3px solid var(--border-color-bottom);
}

#image-viewer-parent {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--border-color-bottom);
    background-color: rgba(0.56, 0.56, 0.56, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 1;
}

#image-viewer {
    width: var(--width-image-viewer);
    height: var(--height-image-viewer);
    overflow: none;
    background-color: var(--bg-window);
    border: 3px solid var(--border-color-top);
    border-right: 3px solid var(--border-color-bottom);
    border-bottom: 3px solid var(--border-color-bottom);
}

.img-viewer-img-wrapper {
    width: 100%;
    height: calc(100% - var(--titlebar-height));
    display: flex;
    align-items: center;
    justify-content: center;
}

#image-viewer img {
    max-width: 95%;
    max-height: 95%;

    border: 2px solid var(--border-color-bottom);
    border-right: 2px solid var(--border-color-top);
    border-bottom: 2px solid var(--border-color-top);
}

.titlebar {
    background-color: var(--bg-title);
    margin:0;
    padding:0;
    height: var(--titlebar-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titlebar h1 {
    margin: 0;
    margin-left: 20px;
    color: var(--title-color);
    font-size: 1.2em;
}

.titlebar .exit-btn {
    background-color: var(--bg-window);
    width: calc(var(--titlebar-height) - 12px - 0.1em);
    height: calc(var(--titlebar-height) - 12px - 0.1em);
    border: 2px solid var(--border-color-top);
    border-right: 2px solid var(--border-color-bottom);
    border-bottom: 2px solid var(--border-color-bottom);
    margin-right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    color: var(--text-color);
}

.titlebar .exit-btn-inactive {
    color: var(--border-color-bottom);
    border: 2px solid var(--border-color-bottom);
    border-right: 2px solid var(--border-color-top);
    border-bottom: 2px solid var(--border-color-top);
}

nav {
    margin: 20px;
}

nav a {
    margin-right: 5px;
    padding: 5px;
    background-color: var(--bg-window);
    border: 2px solid var(--border-color-top);
    border-right: 2px solid var(--border-color-bottom);
    border-bottom: 2px solid var(--border-color-bottom);
    text-decoration: none;
    color: var(--text-color);
}

nav a:active {
    border: 2px solid var(--border-color-bottom);
    border-right: 2px solid var(--border-color-top);
    border-bottom: 2px solid var(--border-color-top);
}

section {
    margin: 20px;
    padding: 10px;
    height: calc(100% - 100px - 30px);
    overflow: auto;

    border: 2px solid var(--border-color-top);
    border-right: 2px solid var(--border-color-bottom);
    border-bottom: 2px solid var(--border-color-bottom);
}

section h2 {
    font-size: 2em;
}

.images {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.images img {
    width: 40%;
    max-width: 450px;

    border: 2px solid var(--border-color-bottom);
    border-right: 2px solid var(--border-color-top);
    border-bottom: 2px solid var(--border-color-top);
}

.images_padding {
    width: 5vw;
}

.link-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.link-container .link-button {
    width: 20vh;
    height: 20vh;
    margin: 25px;
    border: 2px solid var(--border-color-top);
    border-right: 2px solid var(--border-color-bottom);
    border-bottom: 2px solid var(--border-color-bottom);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color);
}

.link-button:active {
    border: 2px solid var(--border-color-bottom);
    border-right: 2px solid var(--border-color-top);
    border-bottom: 2px solid var(--border-color-top);
}

.link-button i {
    font-size: 3em;
}

.link-button p {
    font-size: 1.5em;
}

@media screen and (min-width: 620px) and (max-width: 1100px) {
    section h2 {
        font-size: 1.4em;
        margin: 0;
    }

    section h3 {
        font-size: 1.1em;
        margin: 0;
        margin-bottom: 5px;
    }


    .link-button p {
        font-size: 1em;
    }

    .link-button i {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 900px) {
    :root {
        --window-margin-top: 10px;
    }

    nav {
        margin: 12px;
        margin-left: 20px;
    }

}


@media screen and (max-width: 720px) {

    main {
        width: 95vw;
    }

    .titlebar h1 {
        font-size: 1em;
    }

    .images {
        flex-direction: column;
    }

    .images img {
        margin-bottom: 5px;
        width: 80%;
    }

    .images .images_padding {
        display: none;
    }

    #image-viewer {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 620px) {
    .link-container {
        flex-direction: column;
    }

    .link-container .link-button {
        width: 80%;
        height: 20vh;
    }
}