:root {
    --bg-body: #008080;
    --bg-window: #c3c3c3;
    --bg-title: #000082;
    --title-color: #ffffff;
    --text-color: #000000;
    --border-color-top: #ffffff;
    --border-color-bottom: #818181;

    --width-main: 80vw;
    --titlebar-height: 2em;
    --window-margin-top: 25px;

}

body {
    margin: 0;
    background-color:  var(--bg-body);
    font-family:Arial, Helvetica, sans-serif;
}

main {
    width: var(--width-main);
    margin: auto;
    padding:0;
    margin-top: var(--window-margin-top);
    height: calc(100vh - var(--window-margin-top) - var(--titlebar-height));
    overflow: none;
    background-color: var(--bg-window);
    border: 3px solid var(--border-color-top);
    border-right: 3px solid var(--border-color-bottom);
    border-bottom: 3px solid var(--border-color-bottom);
}

.titlebar {
    background-color: var(--bg-title);
    margin:0;
    padding:0;
    height: var(--titlebar-height);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.titlebar h1 {
    margin: 0;
    margin-left: 1vw;
    color: var(--title-color);
    font-size: 1.2em;
}

.titlebar .exit-btn {
    background-color: var(--bg-window);
    width: calc(var(--titlebar-height) - 12px - 0.1em);
    height: calc(var(--titlebar-height) - 12px - 0.1em);
    border: 2px solid var(--border-color-top);
    border-right: 2px solid var(--border-color-bottom);
    border-bottom: 2px solid var(--border-color-bottom);
    margin-right: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.1em;
}

nav {
    margin: 20px;
}

nav a {
    margin-right: 5px;
    padding: 5px;
    background-color: var(--bg-window);
    border: 2px solid var(--border-color-top);
    border-right: 2px solid var(--border-color-bottom);
    border-bottom: 2px solid var(--border-color-bottom);
    text-decoration: none;
    color: var(--text-color);
}

nav a:active {
    border: 2px solid var(--border-color-bottom);
    border-right: 2px solid var(--border-color-top);
    border-bottom: 2px solid var(--border-color-top);
}

section {
    margin: 20px;
    height: calc(100% - 100px);
    overflow: auto;
}

section h2 {
    font-size: 2em;
}

.images {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.images img {
    width: 40%;
    max-width: 450px;
}

.images_padding {
    width: 5vw;
}

.link-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.link-container .link-button {
    width: 20vh;
    height: 20vh;
    margin: 25px;
    border: 2px solid var(--border-color-top);
    border-right: 2px solid var(--border-color-bottom);
    border-bottom: 2px solid var(--border-color-bottom);
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--text-color);
}

.link-button:active {
    border: 2px solid var(--border-color-bottom);
    border-right: 2px solid var(--border-color-top);
    border-bottom: 2px solid var(--border-color-top);
}

.link-button i {
    font-size: 3em;
}

.link-button p {
    font-size: 1.5em;
}

@media screen and (min-width: 620px) and (max-width: 1100px) {
    section h2 {
        font-size: 1.4em;
        margin: 0;
    }

    section h3 {
        font-size: 1.1em;
        margin: 0;
        margin-bottom: 5px;
    }


    .link-button p {
        font-size: 1em;
    }

    .link-button i {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 900px) {
    :root {
        --window-margin-top: 10px;
    }

    nav {
        margin: 12px;
        margin-left: 20px;
    }

}


@media screen and (max-width: 720px) {

    .titlebar h1 {
        font-size: 1em;
    }

    .images {
        flex-direction: column;
    }

    .images img {
        margin-bottom: 5px;
    }

    .images .images_padding {
        display: none;
    }
}

@media screen and (max-width: 620px) {
    .link-container {
        flex-direction: column;
    }

    .link-container .link-button {
        width: 80%;
        height: 20vh;
    }
}